<h2>Results index</h2>

<table class="table">
  <% if @range == "User" %>
    <thead>
      <tr>
        <th></th>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image, size: '50x50' %><td>
          <td><%= user.name %></td>
        </tr>
      <% end %>
  <% else %>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= image_tag user.get_profile_image, size: '50x50' %><td>
          <td><%= book.title %></td>
          <td><%= book.opinion %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>